<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	 <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
		 <nav class = "flex-div"> 
			 <div class = "nav-left flex-div">
				     <img src = "images/icons/view.png" class = "icon-menu">
					 <h3 class = "logo">MAFEKEFEKENG</h3>
			 </div>	
			 <div class = "nav-middle flex-div">
			     <div class = "search-box flex-div">
				     <input type = "text" placeholder = "Search">
					 <img src = "images/icons/search.png">
				 </div>
				 <img src = "images/icons/mic.png" class = "mic-icon">
				 
			 </div>
			 <div class = "nav-right flex-div">
				 <img src = "images/icons/video.png">
				 <img src = "images/icons/squares.png">
				 <img src = "images/icons/notifications.png">
				 <img src = "images/icons/user.png" class = "">
			 
			 </div>
		 </nav>
		 <!----------------------------sidebar--------------------------------->
		 <div class = "sidebar">
		     <div class = "shortcut-links">
			     <a href = ""><img src = "images/icons/home.png"><p>Home</p></a>
				 <a href = ""><img src = "images/icons/torch.png"><p>Explore</p></a>
				 <a href = ""><img src = "images/icons/subscribe.png"><p>Subscription</p></a>
				 <a href = ""><img src = "images/icons/library.png"><p>Library</p></a>
				 <a href = ""><img src = "images/icons/history.png"><p>History</p></a>
				 <a href = ""><img src = "images/icons/playlist.png"><p>Playlist</p></a>
				 <a href = ""><img src = "images/icons/messages.png"><p>Messages</p></a>
				 <a href = ""><img src = "images/icons/more.png"><p>Show More</p></a>
				 <hr>
			 </div>
			 <div class = "subscribed-list">
			     <h3>SUBSCRIBED</h3>
				 <a href = ""><img src = "images/d.png"><p>Dumsani DLamini</p></a>
				 <a href = ""><img src = "images/bonkhe.png"><p>Bonkhe Msibi</p></a>
				 <a href = ""><img src = "images/todvwa.png"><p>Todvwa Malambe</p></a>
				 <a href = ""><img src = "images/gcinile.png"><p>Nicholas Cage</p></a>
				 <a href = ""><img src = "images/dum.png"><p>Ronald Desousa</p></a>
			 </div>
		 </div>
		 
<!----------------main---------------------->
<div class = "container">	
     <div class = "banner">
	     <img src = "images/banner.png">
	 </div>
	 <div class = "list-container">
	     <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/dum.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		   <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/bonkhe.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		   <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/gcinile.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		   <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/d.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		 <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/todvwa.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		   <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/bonkhe.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		   <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/gcinile.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
		   <div class = "vid-list">
		     <a href = ""><img src = "images/thumbnail1.png" class = "thumbnail"></a>
             <div class = "flex-div">
			     <img src = "images/d.png">
				    <div class = "vid-info">
					     <a href = "">This is where video information will be displayed.</a>
						 <p>Vid information</p>
						 <p>10k Views &bull; 2 days</p>
					</div>
			 </div>
		 </div>
	</div>	  
</div>

	 
     
	 
	 
	 <script src = "/javascripts/script.js"></script>
  </body>
</html>
